<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TATA AUDIO LIBRARY!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		    </head>
  <body>
    
  	<section class="hero is-link is-fullheight video">
      
  <!-- Hero head: will stick at the top -->
  <div class="hero-video">
    <video poster="" id="bgvid" playsinline autoplay muted loop>
        
        <source src="/assets/img/bgvdo1.mp4" type="video/mp4">
    </video>
</div>

  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="/assets/img/Logo Final Tata Blue.png">
          </a>
          <span class="navbar-menu" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" [routerLink]="['']">
              Home
            </a>
            <a class="navbar-item" [routerLink]="['login']">
              Login/Signup
            </a>
            <!--<a class="navbar-item" [routerLink]="['register']">
              Signup
            </a>-->
                        
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">

    
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        
        <ul>
          
          <li>
            <a [routerLink]="['login']">
            International
            </a>
        </li>
          <li>
            <a [routerLink]="['login']">
              Trending
            </a>
          </li>
          <li>
            <a [routerLink]="['login']">
              Regional
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</section>	
</body>
</html>




